@import url("https://fonts.googleapis.com/css?family=Lato:300,regular,700,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
}
html {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
body {
  line-height: 1;
}

.container {
  padding: 0 calc(50% - 586px);
}
