$main-color: #272733;
$secondary-color: #fff;
$accent-color: #43abf0;
$border-color: #6f6d7b;

$bg-color: #3d4050;

$bg-color-active: #3D4050D9;
$bg-main-color: #272733E5;
$bg-secondary-color: #3e9cdc;
$bg-tertiary-color: #286690;
$bg-quaternary-color: #10101de5;
$bg-light-color: #C4C4C4;

$text-color: #ffffffd9;
$text-secondary-color: #bbbbbb;
$text-tertiary-color: #FFFFFFB2;
$text-link: #C3C3C3;
